<a href="https://colab.research.google.com/github/rishika-p/assignment-2/blob/master/a_2(11).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

11.Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]Output: 121111200

In [7]:
def multiply(numbers):
  total = 1
  for x in numbers:
    total *= x
  return total
print(multiply((45,3,2,89,72,1,10,7)))

121111200